<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.co.firstgym.board.mapper.IBoardMapper">
<!-- resultMap -->	
	<resultMap type="kr.co.firstgym.command.BoardVO" id="boardVO">
		<result column="board_num" property="boardNum"/>
		<result column="user_id" property="userId"/>
		<result column="board_content" property="boardContent"/>
		<result column="board_title" property="boardTitle"/>
		<result column="board_category" property="boardCategory"/>
		<result column="board_view" property="boardView"/>
		<result column="board_recom" property="boardRecom"/>
		<result column="board_date" property="boardDate"/>
		<result column="board_thum" property="boardThum"/>
		<result column="board_video" property="boardVideo"/>
		<result column="reply_cnt" property="replyCnt"/>
	</resultMap>
	
<!-- 동적쿼리 부분 -->
	<!-- 게시글 등록 동적 쿼리 -->
	<sql id="boardRegistSql">
		<!-- 썸네일 이미지x -->
		<if test="boardThum == null">
			VALUES(board_seq.NEXTVAL, #{userId}, #{boardContent}, #{boardTitle}, #{boardCategory}, NULL, NULL)
		</if>
		<!-- 썸네일 이미지o -->
		<if test="boardThum != null">
			<!-- 동영상 x -->
			<if test="boardVideo == null">
				VALUES(board_seq.NEXTVAL, #{userId}, #{boardContent}, #{boardTitle}, #{boardCategory}, #{boardThum}, NULL)
			</if>
			<!-- 동영상o -->
			<if test="boardVideo != null">
				VALUES(board_seq.NEXTVAL, #{userId}, #{boardContent}, #{boardTitle}, #{boardCategory}, #{boardThum}, #{boardVideo})
			</if>
		</if>
	</sql>
	
	<sql id="boardListSql">
		<if test="category == 'none'">
			<if test="condition == 'title'">
				WHERE board_title LIKE '%'||#{keyword}||'%'
			</if>
			<if test="condition == 'writer'">
				WHERE user_id LIKE '%'||#{keyword}||'%'
			</if>
			<if test="condition == 'content'">
				WHERE board_content LIKE '%'||#{keyword}||'%'
			</if>
		</if>
		<if test="category == 'oxy'">
			WHERE board_category='oxy'
			<if test="condition == 'title'">
				AND board_title LIKE '%'||#{keyword}||'%'
			</if>
			<if test="condition == 'writer'">
				AND user_id LIKE '%'||#{keyword}||'%'
			</if>
			<if test="condition == 'content'">
				AND board_content LIKE '%'||#{keyword}||'%'
			</if>
		</if>
		<if test="category == 'nonoxy'">
			WHERE board_category='nonoxy'
			<if test="condition == 'title'">
				AND board_title LIKE '%'||#{keyword}||'%'
			</if>
			<if test="condition == 'writer'">
				AND user_id LIKE '%'||#{keyword}||'%'
			</if>
			<if test="condition == 'content'">
				AND board_content LIKE '%'||#{keyword}||'%'
			</if>
		</if>
		<if test="category == 'yoga'">
			WHERE board_category='yoga'
			<if test="condition == 'title'">
				AND board_title LIKE '%'||#{keyword}||'%'
			</if>
			<if test="condition == 'writer'">
				AND user_id LIKE '%'||#{keyword}||'%'
			</if>
			<if test="condition == 'content'">
				AND board_content LIKE '%'||#{keyword}||'%'
			</if>
		</if>
	</sql>
	
	
<!-- CRUD -->
	<insert id="regist">
		INSERT INTO board(board_num, user_id, board_content, board_title, board_category, board_thum, board_video)
		<include refid="boardRegistSql"/>
	</insert>
	
	<select id="getArticle" resultMap="boardVO">
		SELECT * FROM board
		WHERE board_num = #{boardNum}
	</select>
	
	<select id="getArticleNo" resultType="int">
		SELECT MAX(board_num)
		FROM board
		WHERE user_id = #{userId}
	</select>
	
	<select id="getBoard" resultMap="boardVO">
		SELECT *
		FROM
		    (
		    SELECT ROWNUM AS rn, blist.*
		    FROM
		        (
		        SELECT board.board_num, board.user_id, board_title, board_category, board_view,board_recom, board_date, board_thum, COUNT(reply.reply_num) AS reply_cnt
				FROM board LEFT OUTER JOIN reply
				ON board.board_num = reply.board_num
		        <include refid="boardListSql" />
		        GROUP BY board.board_num,board.board_num, board.user_id, board_title, board_category, board_view, board_recom, board_date, board_thum
			    ORDER BY board_num DESC
		        ) blist
		    )
		<![CDATA[
		WHERE rn > (#{pageNum} - 1) * #{countPerPage}
		AND rn <= #{pageNum} * #{countPerPage}
		]]>
	</select>
	
	<select id="getTotalArticleNum" resultType="int">
		SELECT COUNT(*) FROM board
		<include refid="boardListSql" />
	</select>
	
	<delete id="deleteArticle">
		DELETE FROM board
		WHERE board_num = #{boardNum}
	</delete>
	
	<update id="updateArticle">
		UPDATE board
		SET board_content = #{boardContent}, board_title = #{boardTitle}, board_category = #{boardCategory},
		<if test="boardThum != 'none'">
			board_thum = #{boardThum},
		</if>
		<if test="boardThum == 'none'">
			board_thum = NULL,
		</if>
		<if test="boardVideo != 'none'">
			board_video = #{boardVideo}
		</if>
		<if test="boardVideo == 'none'">
			board_video = NULL
		</if>
		WHERE board_num = #{boardNum}
	</update>
</mapper>